.Low {
  background: linear-gradient(to bottom, #aaffa9, #11ffbd);
}

.Medium {
  background: linear-gradient(to bottom, #67ddc9, #3893df);
}

.High{
  background: linear-gradient(to bottom, #f05f72, #a00721);
}

#temperature {
  font-size: 72px;
}

* {
  font-family: Helvetica;
  margin: 0px;
  padding: 0px
  color: rgb(49, 49, 49);
  font-size: 1em;
  height: 100%;
  box-sizing: border-box;
}

.content {
  display: flex;
}

.left {
  display: flex;
  background: linear-gradient(to bottom, #f8f6ef, #d4d4d0);
  padding: 15% 2%;
  width: 70%;
  flex-direction: column;
  align-items: flex-end;
}

#right {
  display: flex;
  width: 30%;
  color: white;
  height:100%;
  text-align: right;
}

.sideways {
  writing-mode: vertical-lr;
  font-size: 10em;
  height: 0em;
}
form {
  display: flex;
  flex-direction: column;

  text-align: right;
}