.Low {
  background: linear-gradient(to bottom, #aaffa9, #11ffbd);
}

.Medium {
  background: linear-gradient(to bottom, #67ddc9, #3893df);
}

.High{
  background: linear-gradient(to bottom, #f05f72, #a00721);
}

#temperature {
  font-size: 72px;
}
html, body {
  font-family: Helvetica;
  margin: 0;
  height: 100%;
  color: rgb(49, 49, 49);
  font-size: 25px;
}

body {
  display: table;
  width: 100%;
}


.content {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  padding: 1em;
  width: 70%;
}

#value {
  margin:0;
  padding:0;
  display: table-cell;
  vertical-align: middle;
  width: 30%;
  color: white;
  font-size: 5em;
}

.sideways {
  transform: rotate(90deg);
  width: 1em;
}